.w-about-dialog .modal-dialog {width: 300px;}
.w-about-dialog-ctn {display: inline-block; padding-top: 10px; margin-left: 10px;}
.w-about-dialog-title {margin-bottom: 10px; display: block;}
.w-about-dialog img {width: 60px; vertical-align: top;}
.w-about-latest-version {display: none;}
.w-about-menu {position: relative;}
.w-about-menu i {display: none; position: absolute; top: 2px; left: 17px; width: 5px; height: 5px; border-radius: 5px; background: red;}
.w-about-plugins {}