.w-detail {border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; overflow-x: auto; overflow-y: hidden;}
.w-detail-content {position: relative; overflow: auto;}
.w-detail-divider {position: absolute; left: 0; top: 0; width: 5px; height: 100%; cursor: ew-resize;}
.w-detail-content, .w-detail>.w-tabs-sm {min-width: 550px;}

.w-detail-overview, .w-detail-request, .w-detail-response, .w-detail-timeline, .w-detail-composer, .w-detail-log  {display: none;}
.w-show-detail-overview .w-detail-overview,  .w-show-detail-request .w-detail-request, 
.w-show-detail-response .w-detail-response,  .w-show-detail-timeline .w-detail-timeline, 
.w-show-detail-composer .w-detail-composer,  .w-show-detail-log .w-detail-log  {display:-webkit-box; display:-moz-box; display:box;}