.CodeMirror-hints li.CodeMirror-hint-active:after {
  content: 'F1';
    position: absolute;
    right: 2px;
    font-size: 12px;
    
}
.CodeMirror-hints li {
  position: relative;
    padding-right: 18px;
}