.w-image-view {
  font-size: 0;
  white-space: nowrap;
  overflow: auto;
}
.w-image-view i {
  display: block;
  width: 0;
}
.w-image-view img {
  max-width: 100%;
}
.w-image-view i, .w-image-view img {
  vertical-align: middle;
}