.w-create-rules-input, .w-create-values-input {width: 246px; height: 32px; border: none; display: block; padding: 0 5px;
position: absolute; background: #fff; border: 1px solid #ccc; border-radius: 2px; z-index: 101; top: 30px; display: none;}
.w-create-rules-input {left: 170px;}
.w-create-values-input {left: 160px;}