.w-detail-log ul, .w-detail-log li {list-style: none; padding: 0; margin: 0; display: block; width: 100%; font-size: 12px;}
.w-detail-log li {border-bottom: 1px solid #ccc; width: 100%; padding: 1px 0; position: relative;}
.w-detail-log pre {background: none; border: none; padding: 5px 10px; margin: 0; font-size: 12px}
.w-detail-log li.w-fatal {background: #bbb;}
.w-detail-log li.w-error {background: #ffefef;}
.w-detail-log li.w-warn {background: #fffbe6;}
.w-detail-log li.w-info {background: #f5f5f5;}
.w-detail-log li.w-debug {background: #fff;}

.w-detail-log li.w-error pre {color: #c41a16;}
.w-detail-log li.w-warn pre {color: #5c3b00;}

.w-detail-log-bar {position: fixed; z-index: 1; border-radius: 2px; right: 5px; font-size: 12px; top: 61px; white-space: nowrap; line-height: 1.5; background: #eee;}
.w-detail-log-bar a {display: inline-block; text-decoration: none; color: #000; padding: 0 5px;}
.w-detail-log-bar a:hover {color: #337ab7;}
