.w-detail-log ul, .w-detail-log li {list-style: none; padding: 0; margin: 0; display: block; width: 100%;}
.w-detail-log li {border-bottom: 1px solid #ccc; width: 100%; padding: 1px 0;}
.w-detail-log h5 {padding-left: 10px;}
.w-detail-log pre {background: none; border: none; padding: 0 10px 0 20px;}
.w-detail-log li.fatal {background: #bbb;}
.w-detail-log li.error {background: #f2dede;}
.w-detail-log li.warn {background: #fee;}
.w-detail-log li.info {background: #f5f5f5;}
.w-detail-log li.debug {background: #fff;}
