.w-online-dialog .modal-dialog {width: 275px;}
.w-online-dialog-ctn h5 {padding: 5px 0; margin: 0;}
.w-switch-to-server {white-space: nowrap; padding-bottom: 5px;}
.w-switch-to-server input {border: 1px solid #ccc; padding: 0 5px; height: 26px; border-radius: 2px;}
.w-switch-to-server .w-ip {width: 168px;}
.w-switch-to-server .w-port {width: 72px;}