.w-nav-tabs {margin-top: 10px; font-size: 13px;}
.w-nav-tabs>.nav>li>a {padding: 5px 15px 5px 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 120px; position: relative;}
.w-nav-tabs>.nav>li>a>span {display: block; position: absolute; top: 5px; right: 3px; color: #999; cursor: pointer;}
.w-nav-tabs>.nav>li>a>span:hover {color: #000;}
.w-nav-tabs iframe {border: none; display: block; margin: 0; padding: 0; width: 100%; height: 100%;}
.w-nav-tabs .w-nav-tab-panel, .w-nav-tabs .w-nav-tab-panel>div {overflow: hidden;}
.w-nav-tabs>.nav>.w-nav-home-tab>a {padding-right: 5px!important;}

.w-plugins th, .w-plugins td {font-size: 13px; font-weight: normal; }
.w-plugins-headers {border-bottom: 1px solid #ccc; overflow: hidden;}
.w-plugins-headers .table th {border: none!important; padding: 6px; color: #000;}
.w-plugins-list {overflow-y: auto; overflow-x: hidden; outline: none;}
.w-plugins-list th, .w-plugins-list td {border-top: none!important; border-bottom: 1px solid #ddd;
padding: 5px 6px!important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.w-plugins-order {width: 50px;}
.w-plugins-active {width: 60px;}
.w-plugins-list td.w-plugins-active input {margin-left: 12px;}
.w-plugins-name {width: 280px;}
.w-plugins-version {width: 100px;}
.w-plugins-date {width: 180px;}
.w-plugins-operation a, .w-plugins-operation span.disabled  {margin-right: 30px;}
.w-plugins-operation a:last-child, .w-plugins-operation span.disabled:last-child {margin-right: 0;}
.w-plugins-operation span.disabled {color: #ccc;}