.w-properties th , .w-properties td {border: none!important; font-size: 12px; padding-top: 3px!important; padding-bottom: 3px!important;}
.w-properties tr {border-bottom: 1px solid #ccc;}
.w-properties th {width: 120px; text-align: right; font-weight: normal; background: #e1e3e6; padding-right: 3px; word-break: break-word;}
.w-properties td {padding-left: 5px; vertical-align: top; overflow: hidden; word-break: break-word;}
